@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FLUKE Calibration</title>
    @*<link href="~/Content/MenuDropdown.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Resources/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <style>
        .custom-body {
            margin-top: 20px !important;
            margin-bottom: 25px !important;
        }

        tr {
            border: none !important;
        }
        label{
            font-weight: normal !important;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('ul.nav li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
            });
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="element image-button image-left place-left " style="color: #3D1400" href="@Url.Action("Home", "Tab")">
                    <img src="~/Resources/logo.png" />
                </a>
                <p class="image-centre-place-center" style="color: #3D1400" href="@Url.Action("Home", "Tab")">
                    <img src="~/Resources/fcal-tagline-321x66.gif" />
                </p>

            </div>


            <ul id="menu" class="nav navbar-nav navbar-right">

                @if (LicenseSessionState.Instance.IsAuthenticated)
                {
                    if (LicenseSessionState.Instance.IsGlobalAdmin)
                    {
                        <li>@Html.ActionLink("Users", "Index", "User")</li>
                        <li>@Html.ActionLink("User Token", "Index", "UserToken")</li>
                        <li>@Html.ActionLink("Products", "ProductCatalog", "Product")</li>
                        <li>@Html.ActionLink("Orders", "Index", "PurchaseOrder")</li>
                        <li>@Html.ActionLink("Hardware", "HardwareContainer", "Hardware")</li>
                    }
                    else if (LicenseSessionState.Instance.IsSuperAdmin)
                    {
                        <li>@Html.ActionLink("Dashboard", "Home", "Tab")</li>
                        <li>@Html.ActionLink("Products", "ProductCatalog", "Product")</li>
                        <li class="dropdown">
                            @Html.ActionLink("Team", "TeamContainer", "Team")
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Bulk License Map", "MapLicense", "License", new { userId = string.Empty, bulkLicenseAdd = true }, null)</li>
                                <li>@Html.ActionLink("License Approval", "LicenseApproval", "License")</li> 
                            </ul>
                        </li>
                      
                    }
                    else if (LicenseSessionState.Instance.IsAdmin)
                    {
                        <li>@Html.ActionLink("Dashboard", "Home", "Tab")</li>
                        <li class="dropdown">
                            @Html.ActionLink("Team", "TeamContainer", "Team")
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Bulk License Map", "MapLicense", "License", new { userId = string.Empty, bulkLicenseAdd = true }, null)</li>
                                <li>@Html.ActionLink("License Approval", "LicenseApproval", "License")</li>
                            </ul>
                        </li>                     
                    }
                    else
                    {
                        <li>@Html.ActionLink("Dashboard", "Home", "Tab")</li>
                        <li>@Html.ActionLink("Team", "TeamContainer", "Team")</li>
                    }
                }
                else
                {
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About Us", "About", "Tab")</li>
                }
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </div>
    <div class="container body-content custom-body">
        @RenderBody()
    </div>
    <footer class="navbar-fixed-bottom navbar-fixed-bottom-custom">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - FLUKE Calibration</p>
        </div>
    </footer>
</body>
</html>