@model License.MetCalWeb.Models.TeamAsset

@{
    Layout = null;
    ViewBag.Title = "Add hardware";

}
<style>
    tr {
        border: none !important;
    }

    .dropbtn {
        background-color: #FFFFFF;
        color: white;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #FFFFFF;
    }

    #photos img {
        width: 33px;
        height: 33px;
        transition: width 500ms, height 500ms, transform 500ms;
        -moz-transition: width 500ms, height 500ms, -moz-transform 500ms;
        -webkit-transition: width 500ms, height 500ms, -webkit-transform 500ms;
        -o-transition: width 500ms, height 500ms,-o-transform 500ms;
    }

        #photos img:hover {
            width: 100%;
            height: 100%;
        }
</style>
@using (Html.BeginForm("AddHardware", "Hardware", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Hardware</h4>
                </div>
                <div class="modal-body">

                    <label id="error" class="message-error"></label>
                    <div>
                        <div style="padding-top: 15px;padding-bottom: 10px">
                            <div class="col-md-4">
                                <span>Asset Name</span>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                            <br />
                        </div>
                    </div>
                    <div>
                        <div style="padding-top: 15px;padding-bottom: 10px">
                            <div class="col-md-4">
                                <span>Serial Number</span>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.SerialNumber)
                                @Html.ValidationMessageFor(model => model.SerialNumber)
                            </div>
                            <br />
                        </div>
                    </div>

                    <div>
                        <div style="padding-top: 15px;padding-bottom: 10px">
                            <div class="col-md-4">
                                <span>Model</span>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Model)
                                @Html.ValidationMessageFor(model => model.Model)
                            </div>
                            <br />
                        </div>
                    </div>

                    <div>
                        <div style="padding-top: 15px;padding-bottom: 10px">
                            <div class="col-md-4">
                                <span>Description</span>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Description)
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                            <br />
                        </div>
                    </div>
                    <div>
                        <div style="padding-top: 15px;padding-bottom: 10px">
                            <div class="col-md-4">
                                <span>Type</span>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Type)
                                @Html.ValidationMessageFor(model => model.Type)
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-default" data-dismis="model" value="Add Asset" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
@* Javascript *@
<script>
    $(function () {
        $('form').on('submit', function (e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                method: form.attr("method"),
                data: form.serialize(),
                success: function (partialResult) {
                    if (partialResult.success == false) {
                        $('#error').text(partialResult.message);
                    }
                    else {
                        location.reload();
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });
    });
</script>



