@using License.MetCalWeb.Models
@using License.MetCalWeb.Helper;
@using License.Core.Model
@{
	Layout = null;
}
@model HardwareModel
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<style>
	tr {
		border: none !important;
	}

	.dropbtn {
		background-color: #FFFFFF;
		color: white;
		border: none;
		cursor: pointer;
	}

	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

		.dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

			.dropdown-content a:hover {
				background-color: #f1f1f1;
			}

	.dropdown:hover .dropdown-content {
		display: block;
	}

	.dropdown:hover .dropbtn {
		background-color: #FFFFFF;
	}

	#photos img {
		width: 33px;
		height: 33px;
		transition: width 500ms, height 500ms, transform 500ms;
		-moz-transition: width 500ms, height 500ms, -moz-transform 500ms;
		-webkit-transition: width 500ms, height 500ms, -webkit-transform 500ms;
		-o-transition: width 500ms, height 500ms,-o-transform 500ms;
	}

		#photos img:hover {
			width: 100%;
			height: 100%;
		}
</style>
<div class="row">
	<div class="form-group">
		@if (Model?.Assets?.Count > 0)
		{
			<h4>Current Assests</h4>
				<div class="col-md-12">
					<table class="table" style="border: none">
						<thead>
							<tr>
								<th><label for=e1>Name</label>
								<th><label for=e2>Serial Number</label>
								<th><label for=e3>Description</label>
							<tr>
						</thead>
						@foreach (TeamAsset t in Model.Assets)
						{
							<tr>
								<td class="col-md-8">
									<div>@t.Name</div>
								</td>
								<td class="col-md-4">
									<div>@t.SerialNumber</div>
								</td>
								<td class="col-md-4">
									<div>@t.Description</div>
								</td>
								<td class="col-md-4">
									@if (LicenseSessionState.Instance.IsAdmin)
									{

										<button class="alert-success">
											@Html.ActionLink("Edit Asset", "EditAsset", "Hardware", new { userId = @t.Id }, null)
										</button>

									}
								</td>

							</tr>
						}
					</table>
				</div>
		}
	</div>
</div>

