@model IEnumerable<License.MetCalWeb.Models.UserModel>

@{
    ViewBag.Title = "View";
}

<h2>On Premise Admin Users</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </th>
        <th>
            @Html.DisplayName("Subscription")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="form-group">
                @Html.DisplayFor(modelItem => item.Name)
                @if (item.IsActive)
                {
                    <div style="background-color:green;width:10px;height:10px" class="img-circle"></div><label>Online</label>
                }
                else
                {
                    <div style="background-color:grey;width:10px;height:10px" class="img-circle"></div><label>Offline</label>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationName)
            </td>
            <td>
                @foreach (var obj in item.SubscriptionList)
                {
                    @Html.DisplayName(obj.Name)
                }
            </td>
        </tr>
    }

</table>
