@model List<License.MetCalWeb.Models.Product>

<h2>
    Select product
</h2>
<br />
<div class="row form-group">
    <div class="col-md-12 form-group">
        @{var user = (bool)TempData["CanAddBulk"] ? "SelectUsers" : "AssignLicense";}
        @using (Html.BeginForm(user, "License", FormMethod.Post))
        {
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            if (!(bool)TempData["CanAddBulk"])
            {
            <div class="form-group">
                <div class="col-md-8">
                    <span>
                        Team Member Name :  @ViewBag.UserEmail
                    </span>
                </div>
            </div>
            }
            if (Model == null || Model.Count == 0)
            {
                <div class="form-group">
                    <div class="col-md-8">
                        <span>No Subscriptions exist  </span>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <div class="col-md-8">
                        <table class="table" style="border: none">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr style="">
                                    <td>
                                        <label class="control-label">
                                            <input type="checkbox" name="selectedProduct" value="@Model[i].Id" checked="@Model[i].IsSelected" class="checkbox-inline" @(Model[i].AvailableCount == 0? "disabled=disabled":"") />
                                            @Model[i].Name
                                        </label>

                                    </td>
                                </tr>
                            }
                        </table>
                        <label style="display:none;color:red;" id="lblError">License  not selected</label>
                    </div>
                </div>
                <div class="form-group">
                    @if (!(bool)TempData["CanAddBulk"])
                    {
                        <div class="col-md-8">
                            <input type="submit" value="Submit" class="btn btn-default btn-custom btn-save" />
                        </div>
                    }
                    else
                    {
                        <div class="col-md-8">
                            <input type="submit" value="Next" class=" col-md-4 btn btn-default btn-custom btn-save" />
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>

@* Javascript *@
<script>
    $(document).ready(function () {
        $('.btn-save').click(function () {
            var isPostEnabled = true;
            i = 0;
            $('input[type=checkbox]:checked').each(function () {
                i++;
            });
            if (i == 0) {
                $('#lblError').attr('style', 'display:inline;color:red;');
                isPostEnabled = isPostEnabled && false;
            }
            else {
                $('#lblError').attr('style', 'display:none;');
                isPostEnabled = isPostEnabled && true;
            }
            return isPostEnabled;
        });
    });
</script>