@model List<License.MetCalWeb.Models.SubscriptionDetails>

@{
    ViewBag.Title = "LicenseRequest";
}

<div class="row">
    <div class="col-md-12">
        <h2>LicenseRequest</h2>
        @using (Html.BeginForm("LicenseRequest", "License", FormMethod.Post))
        {
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()

            if (Model == null || Model.Count == 0)
            {
                <div class="form-group">
                    <label class="col-md-12">No Subscriptions exist</label>
                </div>
            }
            else
            {
                <div class="form-group">
                    <div class="col-md-8">
                        <table class="table" style="border: none">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr style="">
                                    <td>
                                        @Model[i].Name
                                        <table class="table">
                                            @for (int j = 0; j < Model[i].Products.Count; j++)
                                            {
                                                <tr>
                                                    <td>
                                                        <label class="control-label">
                                                            <input type="checkbox" name="SelectedSubscription" value="ProId:@Model[i].Products[j].Id-UserSubId:@Model[i].UserSubscriptionId" @(Model[i].Products[j].IsSelected == true ? "disabled='disabled checked=checked'" : "") class="checkbox-inline">
                                                            @Model[i].Products[j].Name
                                                        </label>
                                                    </td>
                                                </tr>
                                            }

                                        </table>
                                    </td>
                                </tr>
                            }
                        </table>
                        <label style="display:none;color:red;" id="lblError">License  not selected</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        <input type="submit" value="Submit" class="btn btn-default btn-custom btn-save" />
                    </div>

                </div>
            }
        }
    </div>
</div>

@* Javascript *@
<script>
    $(document).ready(function () {
        $('.btn-save').click(function () {
            var isPostEnabled = true;
            i = 0;
            $('input[type=checkbox]:checked').each(function () {
                i++;
            });
            if (i == 0) {
                $('#lblError').attr('style', 'display:inline;color:red;');
                isPostEnabled = isPostEnabled && false;
            }
            else {
                $('#lblError').attr('style', 'display:none;');
                isPostEnabled = isPostEnabled && true;
            }
            return isPostEnabled;
        });
    });
</script>