@model List<License.MetCalWeb.Models.Subscription>
@{
    ViewBag.Title = "RevokeLicense";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.btn-save').click(function () {
            var isPostEnabled = true;
            i = 0;
            $('input[type=checkbox]:checked').each(function () {
                i++;
            });
            if (i == 0) {
                $('#lblError').attr('style', 'display:inline;color:red;');
                isPostEnabled = isPostEnabled && false;
            }
            else {
                $('#lblError').attr('style', 'display:none;');
                isPostEnabled = isPostEnabled && true;
            }
            return isPostEnabled;
        });
    });
</script>
<div class="row">
    <h2>RevokeLicense</h2>
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-8">
                <span>
                    Team Member Name :  @ViewBag.UserEmail
                </span>
            </div>
        </div>
        @if (Model.Count == 0)
        {
            <div class="form-group">
                <div class="col-md-8">
                    <span>No License are mapped.  </span>
                </div>
            </div>
        }
        else
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <span>Below are the List of License for which team member is  subscribed.</span>
                    <div class="col-md-8">
                        <table class="table" style="border: none">
                            @for (int i = 0; i < Model.Count; i++)
                       {
                        <tr style="">
                            <td>
                                @Model[i].Name
                                <table class="table">
                                    @for (int j = 0; j < Model[i].Products.Count; j++)
                                    {
                                    <tr>
                                        <td>
                                            <label class="control-label">
                                                <input type="checkbox" name="SelectedSubscription" value="ProId:@Model[i].Products[j].Id-UserSubId:@Model[i].UserSubscriptionId" checked="@Model[i].Products[j].IsSelected" class="checkbox-inline">
                                                @Model[i].Products[j].Name
                                            </label>
                                        </td>
                                    </tr>
                                    }

                                </table>
                            </td>
                        </tr>
                       }
                        </table>
                        <label style="display:none;color:red;" id="lblError">License  not selected to revoke</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        <input type="submit" value="Submit" class="btn btn-default btn-custom btn-save" />
                    </div>
                </div>
            }
        }
    </div>
</div>
