@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FLUKE Calibration</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Resources/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body >
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="element image-button image-left place-left " style="color: #3D1400" href="@Url.Action("Home", "Tab")">
                    <img src="~/Resources/logo.png" />
                </a>
                <p class="image-centre-place-center" style="color: #3D1400" href="@Url.Action("Home", "Tab")">
                    <img src="~/Resources/fcal-tagline-321x66.gif" />
                </p>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
                <ul id="menu" class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (LicenseSessionState.Instance.IsAuthenticated)
                    {
                       
                        if (LicenseSessionState.Instance.User.Roles.Contains("Admin") || LicenseSessionState.Instance.IsSuperAdmin)
                        {
                            <li hidden="hidden">@Html.ActionLink("Products", "ProductCatalog", "Product")</li>
                        }
                        if (LicenseSessionState.Instance.IsSuperAdmin)
                        {
                            <li hidden="hidden">@Html.ActionLink("User Token", "Index", "UserToken")</li>
                        }
                        else
                        {
                            <li hidden="hidden">@Html.ActionLink("Team", "TeamContainer", "Team")</li>
                            <li>@Html.ActionLink("About Us", "About", "Tab")</li>
                        }

                    }
                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="navbar-fixed-bottom navbar-fixed-bottom-custom">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - FLUKE Calibration</p>
        </div>
    </footer>
</body>
</html>