@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>AddProduct</title>
    </head>
    <body>
        <div>
        </div>
    </body>
    </html>*@

@using License.MetCalWeb.Models
@model LoginViewModel
@{
    ViewBag.Title = "Add Product";
}
<br/>
<br/>
<div class="row">
    <div class="col-md-12">
        <p>
            <b>Add product to catalog</b>
        </p>

    </div>
    <div>

        @using (Html.BeginForm("AddProduct", "Tab", FormMethod.Post))
        {
        @Html.AntiForgeryToken()
        <h4>Product Details.</h4>
        <hr />
        <div class="form-group">
            @Html.Label("Prodct Name")
            <div class="col-md-50">
                @Html.TextBox("PName")
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Prodct Id")
            <div  class="col-md-50">
                @Html.TextBox("PId")
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Prodct Details")
            <div class="col-md-50">
                @Html.TextBox("PDetails")
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Prodct Code")
            <div class="col-md-50">
                @Html.TextBox("PCode")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Prodct Created Date")
            <div class="col-md-50">
                @Html.TextBox("PCreateDate")
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Prodct Version")
            <div class="col-md-50">
                @Html.TextBox("PVersion")
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Prodct Image Path")
            <div class="col-md-50">
                @Html.TextBox("PImgURL-")
            </div>
        </div>

        <div class="form-group">
            <div class="float-left">
                <input type="submit" class="btn btn-default" value="Add Item" />
            </div>
        </div>
        }
    </div>
</div>
