@model License.MetCalWeb.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}
<div class="row">
    <div class="col-md-12">

        <h2>@ViewBag.Title.</h2>

        @if (!Convert.ToBoolean(ViewBag.SucessMessageDisplay))
        {
            using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Create a new account.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">

                    @Html.LabelFor(m => m.FirstName, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(m => m.FirstName)
                        @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(m => m.LastName)
                        @Html.TextBoxFor(m => m.LastName, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PhoneNumber, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                        @Html.TextBoxFor(m => m.PhoneNumber, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.OrganizationName, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(m => m.OrganizationName)
                        @Html.TextBoxFor(m => m.OrganizationName, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Token, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(m => m.Token)
                        @Html.TextBoxFor(m => m.Token, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
            }
        }
        else
        {
            <label>Registered Successfully. Click @Html.ActionLink("here", "LogIn", "Account") to login</label>

        }

    </div>
</div>