@model License.Models.ResetPassword

@{
    ViewBag.Title = "ResetPassword";
}
<div class="row">
    <div class="col-md-12">
        <h2>Reset password</h2>
        @if (String.IsNullOrEmpty(ViewBag.ResetMessage))
        {

            using (Html.BeginForm("ResetPassword", "Account", new { UserId = Model.UserId, Code = Model.Token }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Reset" />
                    </div>
                </div>
            }
        }
        else
        {
            <div style="display:@ViewBag.Display">
                Password is reset successfully. Please click the link for <a href="@Url.Action("Login","Account")"><span>Login</span></a>.
            </div>
        }
    </div>
</div>