@model IList<License.MetCalWeb.Models.SubscriptionProductModel>
@{
    Layout = null;
}
<h4>Subscription</h4>
<table class="table" style="border:ridge">
    @if (!LicenseSessionState.Instance.IsTeamAdmin || Model.Count() == 0)
    {
        <tr>
            <td>
                Team subscriptions are purchased and managed by team administrators.
                <b> @Html.ActionLink("Explore Fluke Calibration subscriptions", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })</b>
            </td>
        </tr>
    }
    else
    {
        foreach (var obj in Model)
        {
            <tr>
                <td>
                    <h3>@obj.SubscriptionName</h3>

                    @foreach(var pro in obj.ProductDtls)
                    {
                        <h5>@pro.ProductName</h5>
                        <spean>Avialable License: @pro.AvailableCount</spean>
                        <br />
                        <span>@pro.ProductCode</span>
                    }
                  
                </td>
            </tr>
        }
    }
    <tr>
        <td>
            @Html.ActionLink(LicenseSessionState.Instance.User.Email, "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })
        </td>
    </tr>
</table>
