
@using License.MetCalWeb.Models
@using License.Model.Model
@{
    Layout = null;
}
@model TeamModel
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />

<style>
    tr {
        border: none !important;
    }
</style>
@if (Model == null || (Model.AcceptedUsers.Count == 0 && Model.PendinigUsers.Count == 0))
{
    <table class="table" style="border: none;">

        <tr>
            <td>
                <div id="emptyTeamContainer" data-show-on-empty-team="true">
                    <h4>No other users are on your team</h4>
                    <h5>Invite others to start sharing data with your team</h5>
                    <button class="btn btn-primary btn-lg btn-custom" data-toggle="modal" data-target="#myModal">Invite Team Member</button>
                </div>

            </td>
        </tr>
    </table>

}
else
{
   
    <div class="form-group">
        @if (Model.PendinigUsers.Count > 0)
        {
            <h4>Pending Users</h4>

            <table class="table" style="border: none">
                @foreach (TeamMembers t in Model.PendinigUsers)
                {
                    <tr>
                        <td class="col-md-8">
                            @if (t.InviteeUser != null)
                        {
                                <div>@t.InviteeUser.Name</div>
                                <div>@t.InviteeUser.Email</div>
                            }
                            else
                            {
                                <div>@t.InviteeEmail</div>
                            }
                        </td>
                        <td>
                            <div>@t.InvitationDate.Date.ToString("d")</div>
                        </td>
                    </tr>
                }
            </table>
        }

        @if (Model.AcceptedUsers.Count > 0)
        {
            <h4>Accepted Users</h4>
            <table class="table" style="border: none">
                @foreach (TeamMembers t in Model.AcceptedUsers)
                        {
            <tr>
                <td>
                    @if (t.InviteeUser != null)
                                    {
                    <div>@t.InviteeUser.Name</div>
                    <div>@t.InviteeUser.Email</div>
                                    }
                                    else
                                    {
                    <div>@t.InviteeEmail</div>
                                    }
                </td>

            </tr>
                        }
            </table>
        }
    </div>
}
<div class="modal" id="myModal" Width="">
    @{ Html.RenderAction("Invite"); }
</div>