@model  List<License.MetCalWeb.Models.Product>

@{
    ViewBag.Title = "Home";
}
<link href="~/Content/drag-and-drop-container.css" rel="stylesheet" />
<br />
<div class="row col-md-16">
    <div class="col-md-12">
        <div class="form-group">
            <h2>
                Product details:
            </h2>
        </div>

        @using (Html.BeginForm())
        {
            <div class="col-md-8">
                @if (Model == null || Model.Count == 0)
                {
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-12">No License assigned</label>
                        </div>

                    </div>
                }
                else
                {
                    foreach (var product in Model)
                    {
                        <div class="row" style="margin-top:5%">
                            <div class="col-md-12">
                                <h4>@product.Name</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Expire Date</label>
                            </div>
                            <div class="col-md-8">
                                <label>@product.ExpireDate.Date.ToString("D")</label>
                            </div>
                        </div>

                            <div class="row">
                                <div class="col-md-11">
                                    <div class="col-md-3 animated_div"><label>Feature</label></div>
                                    <div class="col-md-4 animated_div"><label>Version</label></div>
                                    <div class="col-md-4 animated_div"><label>Info</label></div>
                                </div>

                            </div>
                        for (int i = 0; i < product.Features.Count; i++)
                        {
                            <div class="row">
                                <div class="col-md-4">
                                    <label>@product.Features[i].Name</label>
                                </div>
                                <div class="col-md-4">
                                    <label>@product.Features[i].Version</label>
                                </div>
                                <div class="col-md-4">
                                    <label>@product.Features[i].Description</label>
                                </div>
                            </div>
                        }

                        <hr />

                    }

                }
            </div>

            <div class="col-md-4">
                @if (LicenseSessionState.Instance.IsSuperAdmin)
                {
                    if (Convert.ToInt32(ViewBag.ExpiredSubCount) > 0)
                    {
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="has-warning"></div>
                            </div>
                            <div class="col-md-8 text-warning">
                                <b>You subscriptions are about to expire in few days. If you would like renew then click on below link.</b>
                                <br />
                                @Html.ActionLink("Renew Subscription", "Renew", "Subscription")
                            </div>
                        </div>
                    }
                }
            </div>

        }
    </div>

    @if (@LicenseSessionState.Instance.IsSuperAdmin)
    {
        <div class="col-md-4">
            @{ Html.RenderAction("Index", "Notification", null); }
        </div>
    }
</div>

@* Javascript *@
<script type="text/javascript">
    var x, y, n = 0, ny = 0, rotINT, rotYINT
    function rotateYDIV() {
        y = document.getElementById("rotate3D")
        clearInterval(rotYINT)
        rotYINT = setInterval("startYRotate()", 10)
    }
    function startRotate() {
        n = n + 1
        x.style.transform = "rotate(" + n + "deg)"
        x.style.webkitTransform = "rotate(" + n + "deg)"
        x.style.OTransform = "rotate(" + n + "deg)"
        x.style.MozTransform = "rotate(" + n + "deg)"
        if (n == 45) {
            clearInterval(rotINT)
            if (n == 45) { n = 0 }
        }
    }
    function startYRotate() {
        ny = ny + 1
        y.style.transform = "rotateY(" + ny + "deg)"
        y.style.webkitTransform = "rotateY(" + ny + "deg)"
        y.style.OTransform = "rotateY(" + ny + "deg)"
        y.style.MozTransform = "rotateY(" + ny + "deg)"
        if (ny == 45) {
            clearInterval(rotYINT)
            if (ny >= 45) { ny = 0 }
        }
    }
</script>