@model List<LicenseServer.DataModel.CartItem>

<div class="row">
    <h3>Cart</h3>

    @using (Html.BeginForm())
    {
        <div class="form-group">
            <div class="col-md-8">
                @if (Model.Count > 0)
                {
                    <table class="table" style="border: none">
                        <tr>
                            <td>
                                <span style="font-weight:bold">Subscription Name</span>
                            </td>
                            <td>
                                <span style="font-weight:bold">Quantity</span>
                            </td>
                            <td>
                                <span style="font-weight:bold">Price</span>
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                        @foreach (var pro in Model)
                    {
                            <tr>
                                <td>
                                    @pro.SubType.Name
                                </td>
                                <td>
                                    @pro.Quantity
                                </td>
                                <td>
                                    @pro.TotalPrice
                                </td>
                                <td>
                                    @Html.ActionLink("Purchase", "PaymentGateway", "Cart", new { Id = @pro.Id }, null) 
                                    
                                    @Html.ActionLink("Remove Item", "RemoveItem", "Cart", new { Id = @pro.Id }, null)
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <div>
                        <span style="font-size: 14px; font-weight:bold">No items added to Cart</span>
                    </div>
                }
            </div>
        </div>
    }
</div>


   