@model List<LicenseServer.DataModel.CartItem>
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="row">

    <h3>Cart</h3>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <div class="col-md-8">
                @if (Model.Count > 0)
                {
                    <table class="table" style="border: none">
                        <tr>
                            <td>
                                <span style="font-weight:bold">Subscription Name</span>
                            </td>
                            <td>
                                <span style="font-weight:bold">Price</span>
                            </td>
                            <td></td>
                        </tr>
                        @foreach (var pro in Model)
                        {
                            <tr>
                                <td>
                                    @pro.SubType.Name
                                </td>
                                <td>
                                    @pro.TotalPrice
                                </td>
                                <td>
                                    <button id="delete-item" class="alert-warning" type="button" onclick="location.href='@Url.Action("RemoveItem", "Cart", new { Id = @pro.Id}, null)'">
                                        <img src="~/Resources/Delete Icon.png" />
                                    </button>
                                </td>
                                <td></td>

                            </tr>
                        }
                        <tr></tr>
                        <tr>
                            <td></td>
                            <td>
                                <h2>Total</h2>
                            </td>
                            <td>
                                <h2>
                                    @ViewData["TotalAmount"]
                                </h2>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                }
                else
                {
                    <div>
                        <span style="font-size: 14px; font-weight:bold">No items added to Cart</span>
                    </div>
                }
            </div>
            <br />
            <div class="col-md-8">
                <button class="alert-success"> @Html.ActionLink("Purchase", "PaymentGateway", "Cart")</button>
            </div>
        </div>

    }
</div>
