@model IEnumerable<License.MetCalWeb.Models.ProductCategory>

@{
    ViewBag.Title = "Category";
}
<h4>Track and support</h4>
@using (Html.BeginForm())
{
    <table class="table" style="border:inset">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <button id="arrow-item" style="background-color:white;border:none" type="button" onclick="location.href='@Url.Action("ProductDetails", "Subscription", new { Id =  @item.Id, categoryName = @item.Name}, null)'">
                        <img src="~/Catalog/Images/Arrow_Head.PNG" />
                    </button>
                </td>

            </tr>
        }
    </table>
}
