@model License.MetCalWeb.Models.Subscription

@{
    ViewBag.Title = "CreateSubscription";
}
<link href="~/Content/product-catalog-details.css" rel=" stylesheet" type="text/css" />
<h3>Create Subscription</h3>
<br />
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Create", "Subscription", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {


            <div class="form-group">
                <div class="col-md-4"><label>Subscription Name</label></div>
                @Html.TextBoxFor(m => m.Name, new { @class = "txt-sub form-control col-md-8" })
            </div>
            <div class="form-group">
                <label class="col-md-4">Choose maintainanse period</label>
                @Html.DropDownListFor(m => m.ActivationMonth, new SelectList(TempData["ActivationMonth"] as IEnumerable<dynamic>, "Value", "Name"), new { @class = "form-control ddlActivationPeriode col-md-8" })
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-5"><labl>Product Name</labl></div>
                <div class="col-md-2"><labl>Price (Per Unit in USD)</labl></div>
                <div class="col-md-2"><labl>Quantity</labl></div>
                <div class="col-md-3"><labl>Total Price(USD)</labl></div>
            </div>
            int index = -1;
            foreach (var product in Model.Products)
            {
                index += 1;
                double price = product.Price * product.Quantity;
                <div class="form-group">
                    <div class="col-md-5 proName"><input type="checkbox" class="checkbox form-control enableQty col-md-1" name="selectedIndexAndProductIdList" value="@product.Id" /> &nbsp;<label class="col-md-3">@product.Name</label> </div>
                    <div class="col-md-2 proCost"><label class="lblSelectedProductCost">@product.Price</label></div>
                    <div class="col-md-2 proQty"><input type="text" class="txt-qty form-control" name="qty" id="textQTYid+@product.Id" value="@product.Quantity" disabled="disabled" /></div>
                    <div class="col-md-3 proPrice"><label class="price_val">@price</label></div>
                </div>
            }
            <div class="form-group">
                <div class="col-md-7">
                </div>
                @Html.HiddenFor(m => m.Price, new { @id = "hdnPrice", @class = "col-md-7" })
                <label class="col-md-2 float-right">SubTotal(USD) </label>
                <label class="total col-md-3">0</label>

            </div>
            <div class="form-group">
                <label id="lblError" class="col-md-6"></label>
                <div class="col-md-6">
                    <button class="btn btn-custom  btn-save float-right" style="margin-left:5px; margin-right:5px;" name="addToCart" value="false">Create</button>
                    @if (LicenseSessionState.Instance.IsSuperAdmin)
                    {
                        <button class="btn btn-custom  btn-save float-right" name="addToCart" value="true">Create And AddToCart</button>
                    }
                </div>
            </div>
        }
    </div>
</div>

@* Javascript *@
<script>
    $(document).ready(function () {

        var total = 0;
        $('.btn-save').click(function () {
            var isPostEnabled = true;
            i = 0;
            j = 0;
            $('input[type=checkbox]:checked').each(function (e) {
                var parentObj = $($('input[type=checkbox]:checked')[e]).parent().parent();
                var txtQty = $(parentObj).find('.proQty').find('.txt-qty');
                var qty = $(txtQty).val();
                if (parseInt(qty) == 0)
                    j++;
                i++;
            });
            if (i == 0) {
                $('#lblError').attr('style', 'display:inline;color:red;');
                $('#lblError').text("No Products Selected");
                isPostEnabled = isPostEnabled && false;
            }
            else if (j > 0) {
                $('#lblError').attr('style', 'display:inline;color:red;');
                $('#lblError').text("Quantity not specified for the selected Products");
                isPostEnabled = isPostEnabled && false;
            }
            else {
                $('#lblError').attr('style', 'display:none;');
                isPostEnabled = isPostEnabled && true;
            }

            if ($('.txt-sub').val() == "") {
                isPostEnabled = isPostEnabled && false;
                $('#lblError').text("Subscription Name Not specified");
                $('#lblError').attr('style', 'display:inline;color:red;');
            }
            return isPostEnabled;
        });

        $('.enableQty').on('click', function () {
            var data = $(this).is(':checked');
            var qtyObj = $(this).parent().parent();
            var prodPrice = $(qtyObj).find('.proCost').find('.lblSelectedProductCost').text();
            var txtQty = $(qtyObj).find('.proQty').find('.txt-qty');
            var price = $(qtyObj).find('.proPrice').find('.price_val');
            if (data == true) {
                $(txtQty).removeAttr('disabled');
                var qty = parseInt($(txtQty).val());
                var pricePerUnit = parseInt(prodPrice)
                var amount = pricePerUnit * qty;
                $(price).text(amount);
            }
            else {
                $(txtQty).attr('disabled', 'disabled');
                $(price).text('0');
            }
            calculateTotal();
        });


        $('.txt-qty').on('change', function () {
            var parentObj = $(this).parent().parent();
            var qty = $(this).val();
            var lblObj = $(parentObj).find('.proPrice').find('.price_val');
            var costObj = $(parentObj).find('.proCost').find('.lblSelectedProductCost').text();
            var selectedProdQTY = qty * parseInt(costObj);
            $(parentObj).find('.proPrice').find('.price_val').text(selectedProdQTY);
            calculateTotal();
        });

        $('.ddlActivationPeriode').on('change', function () {
            calculateTotal();
        });


        function calculateTotal() {
            var priceList = $('.price_val').toArray();
            var i = 0;
            var amount = 0;
            priceList.forEach(function (e) {
                var status = $(e).parent().parent().find('.proName').find('.checkbox').is(':checked');
                if (status == true) {
                    amount += parseInt($(e).text());
                    i++;
                }
            });
            if (i > 0) {
                var periode = $('.ddlActivationPeriode').val();
                var total = parseFloat(periode) * parseFloat(amount);
                $('.total').text(total);
                $('#hdnPrice').val(total);
            }
            else {
                $('.total').text('0');
                $('#hdnPrice').val(0);
            }
        }
    });
</script>
