@model IEnumerable<License.MetCalWeb.Models.Feature>

<p>
   <h3>2.Choose optional Addons</h3>
</p>

    <div style="border-style:outset;border-color:lightgrey">
        @{ int index = -1;
            foreach (var feature in Model)
            {
                index += 1;
                double price = feature.Price * 2;// feature.Quantity;
                <div class="form-group col-md-12 " style="margin:5px">
                    <div class="col-md-1 proInput"><input type="checkbox" class="checkbox form-control enableQty col-md-1" name="selectedIndexAndProductIdList" value="@feature.Id" /></div>
                        <div class="col-md-5 proName"><label class="col-md-5">@feature.Name</label> </div>
                        <div class="col-md-1 proCost"><label class="lblSelectedProductCost">@feature.Price</label></div>
                        <div class="col-md-2 proQty"><input type="text" class="txt-qty form-control" name="qty" id="textQTYid+@feature.Id" value="2" disabled="disabled" /></div>
                        <div class="col-md-2 proPrice"><label class="price_val">@price</label></div>
                    </div>
            }
        }
    </div>   

@*
        <table class="table"  style="border-style:solid;border-width:1px">
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    }

    </table>*@
