@model List<License.MetCalWeb.Models.Product>
@{
    ViewBag.Title = "ProductDetails";
}
<link type="text/css" href="~/Content/SubscriptionContainerStyle.css" rel="stylesheet" />
<link href="~/Content/ProductCatalogDetails.css" rel=" stylesheet" type="text/css" />
<div ng-if="!isCheckoutComplete()" class="subNav clearfix ng-scope">
    <nav class="purchase-mode-nav" ng-class="{ invisible: !showModeNav &amp;&amp; !mode.edit}">
        <!-- ngIf: !mode.edit --><div ng-if="!mode.edit" class="ng-scope">
            <ul class="wac-buttons">
                <li><button class="wac-button active" ng-click="setCreditCardMode()" ng-class="{ active: mode.buy }" style=""><span translate=""><span class="ng-scope">ORDER</span></span></button></li>
                <li><button class="wac-button" ng-click="setQuoteMode()" ng-class="{ active: mode.quote }" style=""><span translate=""><span class="ng-scope">QUOTE</span></span></button></li>
            </ul>
        </div><!-- end ngIf: !mode.edit -->
        <!-- ngIf: mode.edit -->
    </nav>
    <nav class="shop-header">
        <ul>
            <!-- ngIf: !mode.edit -->
            <li ng-if-start="!mode.edit" class="ng-scope">
                <a href="https://purchase/" class="wac-button wac-button-link active" ng-class="{ active: isShop() }" translate=""><span class="ng-scope">Shop</span></a>
            </li>
            <li class="ng-scope">
                <a href="https://billing/quotes" class="wac-button wac-button-link" atl-mac-link="" translate=""><span class="ng-scope">Pay Quote</span></a>
            </li>
            <li class="ng-scope">
                <a href="renew" id="renew" class="wac-button wac-button-link" ng-class="{ active: isRenew() }" translate=""><span class="ng-scope">Renew</span></a>
            </li>
            <li class="ng-scope">
                <a href="upgrade" id="upgrade" class="wac-button wac-button-link" ng-class="{ active: isUpgrade() }" translate=""><span class="ng-scope">Upgrade</span></a>
            </li>
            <li ng-if-end="" class="ng-scope">
                <a href="cart" class="wac-button wac-button-subtle" ng-class="{ active: isCart() }">
                    <span class="ng-scope">Cart</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Create", "Subscription", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {


            <div class="form-group">
                <div class="col-md-4"><label>Subscription Name</label></div>
                @*@Html.TextBoxFor(m => m.Name, new { @class = "txt-sub form-control col-md-8" })*@
            </div>
            <div class="form-group">
                <label class="col-md-4">Choose maintainanse period</label>
                @*@Html.DropDownListFor(m => m.ActivationMonth, new SelectList(TempData["ActivationMonth"] as IEnumerable<dynamic>, "Value", "Name"), new { @class = "form-control ddlActivationPeriode col-md-8" })*@
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-5"><labl>Product Name</labl></div>
                <div class="col-md-2"><labl>Price (Per Unit in USD)</labl></div>
                <div class="col-md-2"><labl>Quantity</labl></div>
                <div class="col-md-3"><labl>Total Price(USD)</labl></div>
            </div>
            int index = -1;
            foreach (var product in Model)
            {
                index += 1;
                double price = product.Price * product.Quantity;
                <div class="form-group">
                    <div class="col-md-5 proName"><input type="checkbox" class="checkbox form-control enableQty col-md-1" name="selectedIndexAndProductIdList" value="@product.Id" /> &nbsp;<label class="col-md-3">@product.Name</label> </div>
                    <div class="col-md-2 proCost"><label class="lblSelectedProductCost">@product.Price</label></div>
                    <div class="col-md-2 proQty"><input type="text" class="txt-qty form-control" name="qty" id="textQTYid+@product.Id" value="@product.Quantity" disabled="disabled" /></div>
                    <div class="col-md-3 proPrice"><label class="price_val">@price</label></div>
                </div>
            }
            <div class="form-group">
                <div class="col-md-7">
                </div>
                @*@Html.HiddenFor(m => m.Price, new { @id = "hdnPrice", @class = "col-md-7" })*@
                <label class="col-md-2 float-right">SubTotal(USD) </label>
                <label class="total col-md-3">0</label>

            </div>
            <div class="form-group">
                <label id="lblError" class="col-md-6"></label>
                <div class="col-md-6">
                    <button class="btn btn-custom  btn-save float-right" style="margin-left:5px; margin-right:5px;" name="addToCart" value="false">Create</button>
                    @if (LicenseSessionState.Instance.IsSuperAdmin)
                    {
                        <button class="btn btn-custom  btn-save float-right" name="addToCart" value="true">Create And AddToCart</button>
                    }
                </div>
            </div>
        }
    </div>
</div>
<script>
    $(document).ready(function () {

        var total = 0;
        $('.btn-save').click(function () {
            var isPostEnabled = true;
            i = 0;
            j = 0;
            $('input[type=checkbox]:checked').each(function (e) {
                var parentObj = $($('input[type=checkbox]:checked')[e]).parent().parent();
                var txtQty = $(parentObj).find('.proQty').find('.txt-qty');
                var qty = $(txtQty).val();
                if (parseInt(qty) == 0)
                    j++;
                i++;
            });
            if (i == 0) {
                $('#lblError').attr('style', 'display:inline;color:red;');
                $('#lblError').text("No Products Selected");
                isPostEnabled = isPostEnabled && false;
            }
            else if (j > 0) {
                $('#lblError').attr('style', 'display:inline;color:red;');
                $('#lblError').text("Quantity not specified for the selected Products");
                isPostEnabled = isPostEnabled && false;
            }
            else {
                $('#lblError').attr('style', 'display:none;');
                isPostEnabled = isPostEnabled && true;
            }

            if ($('.txt-sub').val() == "") {
                isPostEnabled = isPostEnabled && false;
                $('#lblError').text("Subscription Name Not specified");
                $('#lblError').attr('style', 'display:inline;color:red;');
            }
            return isPostEnabled;
        });

        $('.enableQty').on('click', function () {
            var data = $(this).is(':checked');
            var qtyObj = $(this).parent().parent();
            var prodPrice = $(qtyObj).find('.proCost').find('.lblSelectedProductCost').text();
            var txtQty = $(qtyObj).find('.proQty').find('.txt-qty');
            var price = $(qtyObj).find('.proPrice').find('.price_val');
            if (data == true) {
                $(txtQty).removeAttr('disabled');
                var qty = parseInt($(txtQty).val());
                var pricePerUnit = parseInt(prodPrice)
                var amount = pricePerUnit * qty;
                $(price).text(amount);
            }
            else {
                $(txtQty).attr('disabled', 'disabled');
                $(price).text('0');
            }
            calculateTotal();
        });


        $('.txt-qty').on('change', function () {
            var parentObj = $(this).parent().parent();
            var qty = $(this).val();
            var lblObj = $(parentObj).find('.proPrice').find('.price_val');
            var costObj = $(parentObj).find('.proCost').find('.lblSelectedProductCost').text();
            var selectedProdQTY = qty * parseInt(costObj);
            $(parentObj).find('.proPrice').find('.price_val').text(selectedProdQTY);
            calculateTotal();
        });

        $('.ddlActivationPeriode').on('change', function () {
            calculateTotal();
        });


        function calculateTotal() {
            var priceList = $('.price_val').toArray();
            var i = 0;
            var amount = 0;
            priceList.forEach(function (e) {
                var status = $(e).parent().parent().find('.proName').find('.checkbox').is(':checked');
                if (status == true) {
                    amount += parseInt($(e).text());
                    i++;
                }
            });
            if (i > 0) {
                var periode = $('.ddlActivationPeriode').val();
                var total = parseFloat(periode) * parseFloat(amount);
                $('.total').text(total);
                $('#hdnPrice').val(total);
            }
            else {
                $('.total').text('0');
                $('#hdnPrice').val(0);
            }
        }
    });
</script>

