@model  License.MetCalWeb.Models.RenewSubscriptionList
@{
    ViewBag.Title = "Renew";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.chkSubscription').click(function () {
            calculatePrice();
        });

        function calculatePrice() {
            var obj = $('.chkSubscription:checked').toArray();
            var totalPrice = 0.0;
            if (obj.length > 0) {
                obj.forEach(function (e) {
                    var tempObj = $(e).parents('tr');
                    var tempprice = $(tempObj).find('.tdPrice .divPrice').text();
                    totalPrice += parseFloat(tempprice);
                });
            }
            $('#lblPayment').text(totalPrice);
            $('.hdnPrice').val(totalPrice);
        }


        $('form').on('submit', function (e) {
            var obj = $('input[type=checkbox][name=selectedSubscription]:checked');
            console.log(obj);
            if (obj.length == 0) {
                $('#lblerror').text("select the subscription  which you would like to renew");
                $('#lblerror').attr('style', 'display:inline;color:red !important');
                return false;
            }
            return true;
        })
    })
</script>
<h3>Renew</h3>

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("renew", "subscription", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <table class="table">
                <thead>
                    <tr>
                        <td class="col-md-1"></td>
                        <td class="col-md-4">Subscription Name </td>
                        <td class="col-md-3">Duration</td>
                        <td class="col-md-4">Price</td>
                    </tr>
                </thead>
                @foreach (var m in Model.SubscriptionList)
                {
                    <tr>
                        <td class="col-md-1">
                            <input type="checkbox" class="chkSubscription" value="@m.Id" name="selectedSubscription" />
                        </td>
                        <td class="col-md-4">
                            @m.Name
                        </td>
                        <td class="col-md-3">
                            @m.ActiveDays Days
                        </td>
                        <td class="col-md-4 tdPrice">
                            <label class="divPrice">@m.Price</label>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="3">
                        Total
                    </td>
                    <td class="col-md-4">
                        <label id="lblPayment">0</label>
                        @Html.HiddenFor(m => m.Price, new { @class = "hdnPrice" })
                    </td>
                </tr>
            </table>

            <div class="col-md-8">
                <label id="lblerror" style="display:none;" />
            </div>
            <div class="float-right col-md-4">
                <button type="submit" class="btn btn-primary"> Renew Subscription</button>
            </div>
        }
    </div>

</div>
