

@{
    ViewBag.Title = "SubscriptionContainer";
}
<link type="text/css" href="~/Content/SubscriptionContainerStyle.css" rel="stylesheet" />
<style>
    .myclass {
        border: solid pink 3px;
    }
</style>
<div class="line clearfix">
    <ul class="nav navbar-nav navbar-right custom-ul">
        <li>@Html.ActionLink("Shop", "Shop", "PurchaseNavigation")</li>
        <li>@Html.ActionLink("Pay Quote", "PayQuote", "PurchaseNavigation")</li>
        <li>@Html.ActionLink("Renew", "Renew", "PurchaseNavigation")</li>
        <li>@Html.ActionLink("Cart " + @TempData["CartCount"], "CartItem", "Cart", null, new { @style = "color:green;border:thick" })</li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-8">
                @{ Html.RenderAction("Categories"); }
            </div>
        </div>

    </div>
</div>

