
@model License.MetCalWeb.Models.Product
@{
    ViewBag.Title = "Edit Product";
}
<div class="row">
    <div class="col-sm-12">
        <h3>Edit Product</h3>
        <hr />
        <section>
            @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="row">
                    <div class="col-sm-12">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <div class="col-md-2">
                                <label>Product Name</label>
                            </div>
                            <div class="col-md-10">
                                @Html.TextBoxFor(pro => pro.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(pro => pro.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label>Price in USD</label>
                            </div>
                            <div class="col-md-10">
                                @Html.TextBoxFor(pro => pro.Price, new { @class = "form-control " })
                                @Html.ValidationMessageFor(pro => pro.Price)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label>Product Code</label>
                            </div>
                            <div class="col-md-10">
                                @Html.DisplayFor(pro => pro.ProductCode, new { @class = "form-control" })
                                @Html.ValidationMessageFor(pro => pro.ProductCode)
                                @Html.HiddenFor(p=>p.ProductCode)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Description</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(pro => pro.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(pro => pro.Description)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2"> Category</label>
                            <div class="col-md-10">

                                @foreach (var cat in (List<ProductCategory>)ViewBag.Categories)
                                {
                                    <input type="checkbox" name="rboCategory" value="@cat.Id" checked="@cat.IsSelected" />
                                    <label>@cat.Name</label>
                                }
                                <div class="col-md-2">

                                </div>
                                <div class="col-sm-10">
                                    <span id="lblCategory" class="field-validation-valid">Select Category</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Features</label>
                            <div class="col-md-10">
                                <span class="field-validation-valid" id="lblFeature"> Select feature</span>
                                <table id="table" data-toggle="table table-responsive" data-cache="false" data-height="299">
                                    @if (Model.Features != null && Model.Features.Count > 0)
                                    {
                                        for (int i = 0; i < Model.Features.Count; i++)
                                        {
                                            <tr>
                                                <td class="col-md-8">
                                                    <div class="form-group">
                                                        <div class="col-md-8">
                                                            @Html.DropDownList("featuresList", new SelectList(ViewBag.Features, "Id", "Name", Model.Features.ElementAt(i).Id), new { @class = "form-control" })
                                                        </div>
                                                        <span class="col-md-4">
                                                            @if (i + 1 == Model.Features.Count)
                                                            {
                                                                <button type="button" class="btn btn-add btn-default">+</button>
                                                            }
                                                            else
                                                            {
                                                                <button type="button" class="btn btn-remove btn-default">X</button>
                                                            }
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="col-md-8">
                                                <div class="form-group">
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("featuresList", new SelectList(ViewBag.Features, "Id", "Name"), "-- select Feature -- ", new { @class = "form-control" })
                                                    </div>
                                                    <span class="col-md-4">
                                                        <button type="button" class="btn btn-default btn-add">+</button>
                                                    </span>
                                                </div>

                                            </td>
                                        </tr>
                                    }

                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-default" data-dismis="model" value="Update" />
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@* Javascript *@
<script>
    $(function () {
        var data = @Html.Raw(Json.Encode(ViewBag.Features));
        $('#table').on('click', '.btn-add', function (e) {
            var target = e.target;
            var str = '';
            str += '<tr>';
            str += '<td class="col-md-8">';
            str += '<div class="form-group">';
            str += '<div class="col-md-8">';
            str += "<select class='form-control' name='featuresList'>";
            for (var i = 0; i < data.length; i++) {
                str += "<option value='" + data[i].Id + "'>" + data[i].Name + "</option>";
            }
            str += "<option value='0' selected> -- Select Feature -- </option>";
            str += "</select>";
            str += "</div>";
            str += '<span class="col-md-4">';
            str += '<button type="button" class="btn btn-primary btn-add">+</button>';
            str += '</span>';
            str += '</div>';
            str += '</td>';
            str += '</tr>';
            $(target).removeClass('btn-add');
            $(target).addClass('btn-remove');
            $(target).text('X');
            $(str).appendTo('#table');
        });

        $('#table').on('click', '.btn-remove',function () {
            $(this).parents('tr').remove();
        });

        $('form').on('submit', function (e) {
            var isPostEnabled = true;

            var name = $('#Name');
            var price = $('#Price');
            var productCode = $('#ProductCode');
            var description = $('#Description');

            if (name.val().trim().length == 0) {
                $('[data-valmsg-for="Name"]').text("Please enter Product Name");
                isPostEnabled = false;
                $('[data-valmsg-for="Name"]').removeClass("field-validation-valid");
                $('[data-valmsg-for="Name"]').addClass("field-validation-error");
            }
            else {
                $('[data-valmsg-for="Name"]').text("");
                isPostEnabled = true;
                $('[data-valmsg-for="Name"]').addClass("field-validation-valid");
                $('[data-valmsg-for="Name"]').removeClass("field-validation-error");
            }

            if (price.val().trim().length == 0) {
                $('[data-valmsg-for="Price"]').text("Please specify price");
                isPostEnabled = isPostEnabled && false;
                $('[data-valmsg-for="Price"]').removeClass("field-validation-valid");
                $('[data-valmsg-for="Price"]').addClass("field-validation-error");
            }
            else {
                $('[data-valmsg-for="Price"]').text("");
                isPostEnabled = isPostEnabled && true;
                $('[data-valmsg-for="Price"]').addClass("field-validation-valid");
                $('[data-valmsg-for="Price"]').removeClass("field-validation-error");
            }

            if (productCode.val().trim().length == 0) {
                $('[data-valmsg-for="ProductCode"]').text("Please specify Product code");
                isPostEnabled = isPostEnabled && false;
                $('[data-valmsg-for="ProductCode"]').removeClass("field-validation-valid");
                $('[data-valmsg-for="ProductCode"]').addClass("field-validation-error");
            }
            else {
                $('[data-valmsg-for="ProductCode"]').text("");
                isPostEnabled = isPostEnabled && true;
                $('[data-valmsg-for="ProductCode"]').addClass("field-validation-valid");
                $('[data-valmsg-for="ProductCode"]').removeClass("field-validation-error");
            }

            if (description.val().trim().length == 0) {
                $('[data-valmsg-for="Description"]').text("Please specify Product Description");
                isPostEnabled = isPostEnabled && false;
                $('[data-valmsg-for="Description"]').removeClass("field-validation-valid");
                $('[data-valmsg-for="Description"]').addClass("field-validation-error");
            }
            else {
                $('[data-valmsg-for="Description"]').text("");
                isPostEnabled = isPostEnabled && true;
                $('[data-valmsg-for="Description"]').addClass("field-validation-valid");
                $('[data-valmsg-for="Description"]').removeClass("field-validation-error");
            }

            if ($('input[type=checkbox][name=rboCategory]:checked').length == 0) {
                isPostEnabled = isPostEnabled && false;
                $('#lblCategory').removeClass("field-validation-valid");
                $('#lblCategory').addClass('field-validation-error');
            }
            else {
                $('#lblCategory').addClass("field-validation-valid");
                $('#lblCategory').removeClass('field-validation-error');
                isPostEnabled = isPostEnabled && true;
            }

            var i = 0;
            var count = $('select[name=featuresList]').length;
            for (var i = 0; i < count; i++) {
                if ($($('select[name=featuresList]')[i]).value.length == 0) {
                    i++;
                }
            }
            console.log(i);

            if (i > 0) {
                isPostEnabled = isPostEnabled && false;
                $('#lblFeature').addClass('field-validation-error');
                $('#lblFeature').removeClass("field-validation-valid");
            }
            else {
                isPostEnabled = isPostEnabled && true;
                $('#lblFeature').addClass("field-validation-valid");
                $('#lblFeature').removeClass('field-validation-error');
            }
            return isPostEnabled;
        });
    });
</script>