@model IEnumerable<License.Models.Product>

@{
    ViewBag.Title = "Product List";
}
<div class="row">
    <div class="col-md-12">


        <h2>CreateAndUpdateProduct</h2>

        <p>
            @Html.ActionLink("Add Product", "Create", "Product",new { @class="btn btn-default" })
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductCode)
                </th>
                <th><label style="margin-left:90px"> Action</label></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCode)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" }) 
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default ancDelete"})
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

@* Javascript *@
<script>
    $(function () {
        $('.ancDelete').on('click', function (e) {
            e.preventDefault();
            console.log($(this).attr('href'));
            $.ajax({
                url: $(this).attr('href'),
                method: "POST",
                success: function (data) {
                    if (data.status == false)
                        alert(data.message);
                    else
                        window.location.reload();
                },
                error: function (data) {

                }

            });
        });
    });
</script>