@model IEnumerable<License.MetCalWeb.Models.Product>

@{
    ViewBag.Title = "Product List";
}
<script>
    $(function () {
        $('.ancDelete').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).href,
                method: "POST",
                dataType: "application/json",
                success: function (data) {
                    if (data.status == false)
                        alert(data.message);
                },
                error: function (data) {

                }

            });
        });
    });
</script>
<div class="row">
    <div class="col-md-12">


        <h2>CreateAndUpdateProduct</h2>

        <p>
            <button>@Html.ActionLink("Add Product", "Create", "Product")</button>
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })  |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id, @class="ancDelete" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
