@model List<LicenseServer.DataModel.Product>
@using License.MetCalWeb.Helper
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <h3>Products</h3>
    @if (LicenseSessionState.Instance.IsSuperAdmin)
    {
        @Html.ActionLink("Create Product", "Create", "Product")
    }
    @using (Html.BeginForm())
    {
        <table class="table-hover" style="border:ridge;align-content:center">
            @foreach (var pro in Model)
            {
                <tr>
                    <td>
                        <p class="float-left">
                            @Html.Image(String.Concat("ProductImages/", pro.ImagePath), "image", "48px", "48px", "img-circle")
                        </p>

                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <em>Produt Name:</em>
                            @Html.Display(pro.Name.ToString())
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <em>Produt Description:</em>
                            @Html.Display(pro.Description)
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="danger">
                        <p class="button">
                            <b>
                                @Html.ActionLink("Add To Cart", "AddProductToCart", "Cart", new { id = pro.Id })
                            </b>
                        </p>
                    </td>
                </tr>

            }
        </table>
    }
</div>