@model List<LicenseServer.DataModel.SubscriptionType>
@{
    ViewBag.Title = "Product Catalog";
}

<div class="row">
    <h3>Products</h3>
    @if (LicenseSessionState.Instance.IsSuperAdmin)
    {
        @Html.ActionLink("Create Product", "Create", "Product")
    }

    @using (Html.BeginForm())
    {
        <div class="form-group">
            <div class="col-md-8">
                <table class="table" style="border: none">
                    <tr>
                        <td>
                            <span style="font-weight:bold">Subscription Name</span>
                        </td>
                        <td>
                            <span style="font-weight:bold">Dutration</span>
                        </td>
                        <td></td>
                    </tr>
                    @foreach (var pro in Model)
                {
                        <tr>
                            <td>
                                @pro.Name
                            </td>
                            <td>
                                @pro.ActiveDays
                            </td>
                            <td>
                                @Html.ActionLink("Add To Cart", "AddProductToCart", "Product", new { Id = @pro.Id }, null)
                            </td>
                        </tr>

                }
                </table>
            </div>
        </div>
    }
</div>