@model List<LicenseServer.DataModel.Product>
@using License.MetCalWeb.Helper
@{
    ViewBag.Title = "Product Catalog";
}

<div class="row">
    <h3>Products</h3>
    @if (LicenseSessionState.Instance.IsSuperAdmin)
    {
        @Html.ActionLink("Create Product", "Create", "Product")
    }
    <table class="table-hover" style="border:ridge;align-content:center">
        @for (int index = 0; index < Model.Count; index++)
        {
            using (Html.BeginForm("AddProductToCart", "Product",new { id= Model[index].Id}, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @*@Html.EditorForModel()*@
                <tr>
                    <td>
                        <p class="float-left ">
                            @Html.Image(String.Concat("../ProductImages/", Model[index].ImagePath), "image", "270px", "550px", "img-responsive")
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <em>Product Id:</em>
                            <b>@Model[index].Id</b>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <em>Produt Name:</em>
                            <b> @Model[index].Name</b>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <em>Produt Description:</em>
                            <b>@Model[index].Description</b>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>
                            <em>Manufactured Date:</em>
                            <b> @Model[index].CreatedDate</b>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="danger">
                        <p class="button">
                            <b>
                                <input name="Add" class="btn btn-success" type="submit" value="Add To Cart" />
                            </b>
                        </p>
                    </td>
                </tr>

            }
        }
    </table>

</div>