@model List<LicenseServer.DataModel.SubscriptionType>
   @using LicenseServer.Logic
@{ CartLogic cartLogic = new CartLogic();
   int itemCount= cartLogic.GetCartItems(LicenseSessionState.Instance.User.ServerUserId).Count();}
@{
    ViewBag.Title = "Product Catalog";
}
<div>
    <div class="col-md-9">
        <h1 class="login-header-new">Fluke Calibration Store</h1>
    </div>
    <div class="col-md-1">
        <table class="table-hover success">
            <tr>
                <td>
                    <div class="navbar-header">
                        <a class="element image-button image-left place-left " style="color: #3D1400" href="@Url.Action("CartItem", "Cart")">
                            <img src="~/Resources/Cart-Menu.png" />
                        </a>
                    </div>
                </td>
                <td>
                    <a class="element image-button image-left place-left " style="color: #3D1400" href="@Url.Action("CartItem", "Cart")">
                        <h4>Cart(@itemCount)</h4>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    

<div class="row">
    <h3>Product Subscriptions</h3>
    @if (LicenseSessionState.Instance.IsSuperAdmin)
    {
        @Html.ActionLink("Create Product", "Create", "Product")
    }

    @using (Html.BeginForm())
    {
        <div class="form-group">
            <div class="col-md-10">
                <table class="table" style="border: none">
                    <tr>
                        <td></td>
                        <td>
                            <span style="font-weight:bold">Subscription Name</span>
                        </td>
                        <td>
                            <span style="font-weight:bold">Dutration</span>
                        </td>
                        <td>
                            <span style="font-weight:bold">Price</span>
                        </td>
                        <td></td>
                    </tr>
                    @foreach (var pro in Model)
                {
                        <tr>
                            <td>
                                @Html.Image(String.Concat("../ProductImages/", pro.ImagePath), pro.Name, "35", "45", "img-responsive")
                            </td>
                            <td>
                                @pro.Name
                            </td>
                            <td>
                                @pro.ActiveDays
                            </td>
                            <td>
                                @pro.Price.ToString()
                            </td>
                            <td>
                                @Html.ActionLink("Add To Cart", "AddProductToCart", "Product", new { Id = @pro.Id }, null)
                            </td>
                        </tr>

                    }
                </table>
            </div>
        </div>
    }
</div>