@model List<License.MetCalWeb.Models.TeamExtended>

<div class="row">
    <h2>

        @if (ViewBag.actionType.ToString() == "RemoveTeam")
        {
            <label>Remove From Team</label>
        }
        else
        {
            <label>Assign to Team</label>
        }

    </h2>
    <br />
    @using (Html.BeginForm("AssignRevokeTeam", "TeamManagement", new { userId = ViewBag.UserId, actionType = ViewBag.actionType }, FormMethod.Post))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-8">
                <span>
                    Team Member Email :   @ViewBag.UserEmail
                </span>
            </div>
        </div>
        if (Model == null || Model.Count == 0)
        {
            <div class="form-group">
                <div class="col-md-8">
                    <span>No Teams exist  </span>
                </div>
            </div> }
        else
        {
            <div class="form-group">
                <div class="col-md-8">
                    <table class="table" style="border: none">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr style="">
                                <td>
                                    <input type="checkbox" name="selectedTeams" value="@Model[i].Id" checked="@Model[i].IsSelected" class="checkbox-inline">
                                </td>
                                <td>
                                    <label class="control-label">
                                        @Model[i].Name
                                    </label>
                                </td>
                            </tr>
                        }
                    </table>
                    <label style="display:none;color:red;" id="lblError">Team  not selected</label>
                    <input type="submit" value="@(ViewBag.actionType.ToString() == "RemoveTeam" ?"Revoke From Team(s)" :"Assign to Team(s)")" class="btn btn-default btn-custom btn-save" />

                </div>
            </div>
        }
    }
</div>

@* Javascript *@
<script>
    $(document).ready(function () {
        $('.btn-save').click(function () {
            var isPostEnabled = true;
            i = 0;
            $('input[type=checkbox]:checked').each(function () {
                i++;
            });
            if (i == 0) {
                $('#lblError').attr('style', 'display:inline;color:red;');
                isPostEnabled = isPostEnabled && false;
            }
            else {
                $('#lblError').attr('style', 'display:none;');
                isPostEnabled = isPostEnabled && true;
            }
            return isPostEnabled;
        });
    });
</script>