@using License.MetCalWeb.Models
@using License.MetCalWeb.Helper
@model TeamDetails

@{
    Layout = null;
}
<div class="row">
    <div class="form-group">
        <label style="font-size:14px;margin-left: 14px;">Team Admin : @Model.Team.AdminUser.Name </label>
        @if (LicenseSessionState.Instance.IsAdmin)
        {
            <div class="dropdown  float-right" style="margin-right:20px;">
                <button class="btn btn-default dropdown-toggle float-left" type="button" id="menu1" data-toggle="dropdown">
                    License
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Bulk License Map", "AssignLicense", "License", new { userId = string.Empty, bulkLicenseAdd = true }, null)</li>
                    <li>@Html.ActionLink("License Approval", "LicenseApproval", "License")</li>
                </ul>
            </div>
            <button type="button" class="btn btn-default btnInvite float-right" style="margin-right:10px;">Invite Team Member</button>
        }
        else
        {
            @Html.ActionLink("Request License", "LicenseRequest", "License", null, new { @class = "btn btn-primary btn-lg btn-custom btn-request float-right" })
        }


    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            @if (Model.PendinigUsers.Count > 0)
            {
                <h5>Pending Users</h5>
                <table class="table" style="border: none">
                    @foreach (TeamMember t in Model.PendinigUsers)
                    {
                        <tr>
                            <td class="col-md-2">
                                @if (t.InviteeUser.IsActive)
                                {
                                    <div style="background-color:green;width:10px;height:10px" class="img-circle"></div>
                                }
                                else
                                {
                                    <div style="background-color:grey;width:10px;height:10px" class="img-circle"></div>
                                }

                            </td>

                            <td class="col-md-6">
                                @if (t.InviteeUser != null)
                                {
                                    <div>@t.InviteeUser.Name</div>
                                    <div>@t.InviteeUser.Email</div>
                                }
                                else
                                {
                                    <div>@t.InviteeEmail</div>
                                }
                            </td>
                            <td class="col-md-4">
                                <div>@t.InvitationDate.Date.ToString("d")</div>
                            </td>
                        </tr>
                    }
                </table>
                <br />
                <br />
            }
        </div>

        <div class="form-group">
            @if (Model.AcceptedUsers.Count > 0)
            {
               <label>
                        Active Users</label> 
                <table class="table" style="border: none">
                    @foreach (TeamMember t in Model.AcceptedUsers)
                    {
                        <tr>
                            <td class="col-md-2">
                                @if (t.InviteeUser.IsActive)
                                {
                                    <div style="background-color:green;width:10px;height:10px" class="img-circle"></div>
                                }
                                else
                                {
                                    <div style="background-color:grey;width:10px;height:10px" class="img-circle"></div>
                                }

                            </td>
                            <td class="col-md-4">
                                @if (t.InviteeUser != null)
                                {
                                    <div>@t.InviteeUser.Name</div>
                                    <div>@t.InviteeUser.Email</div>
                                }
                                else
                                {
                                    <div>@t.InviteeEmail</div>
                                }
                            </td>
                            <td class="col-md-3">
                                @if (t.IsAdmin)
                                {
                                    <div id="photos">
                                        <img src="~/Catalog/Images/Administrator.png" />
                                    </div>
                                }
                                else
                                {

                                    <div id="photos">
                                        <img src="~/Catalog/Images/Users_Icon.png" />
                                    </div>
                                }
                            </td>

                            @if (LicenseSessionState.Instance.IsAdmin)
                            {
                                <td class="col-md-2">
                                    <button class="btn btn-default">
                                        @Html.ActionLink("Add License", "AssignLicense", "License", new { userId = @t.InviteeUserId, bulkLicenseAdd = false }, null)
                                    </button>
                                </td>
                                <td class="col-md-2">
                                    <button class="btn btn-default">@Html.ActionLink("Revoke License", "RevokeLicense", "License", new { userId = @t.InviteeUserId }, null)</button>
                                </td>
                            }

                            <td class="col-md-1">
                                @if (LicenseSessionState.Instance.IsAdmin && t.InviteeUserId != LicenseSessionState.Instance.User.UserId && t.InviteeUserId != Model.Team.AdminId)
                                {
                                    <div class="dropdown">
                                        <button class="dropbtn">
                                            <span>
                                                @Html.Image("../Catalog/Images/Down_Arrow.png", "Admin", "33", "33", null)
                                            </span>
                                        </button>
                                        <div class="dropdown-content">
                                            @if (!t.IsAdmin)
                                            {
                                                @Html.ActionLink("Set As Admin", "UserConfiguration", "TeamManagement", new { id = @t.Id, userId = @t.InviteeUserId, actionType = "Admin" }, null)
                                            }
                                            else
                                            {
                                                @Html.ActionLink("Remove Admin Access", "UserConfiguration", "TeamManagement", new { id = @t.Id, userId = @t.InviteeUserId, actionType = "RemoveAdmin" }, null)
                                            }
                                            @Html.ActionLink("Assign to Team", "AssignRevokeTeam", "TeamManagement", new { userId = @t.InviteeUserId, actionType = "AssignTeam" }, null)
                                            @Html.ActionLink("Remove From Team", "AssignRevokeTeam", "TeamManagement", new { userId = @t.InviteeUserId, actionType = "RemoveTeam" }, null)
                                            @Html.ActionLink("Remove User", "UserConfiguration", "TeamManagement", new { id = @t.Id, userId = @t.InviteeUserId, actionType = "Remove" }, null)
                                        </div>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
    <div class="col-md-4">
        @{ Html.RenderAction("Subscriptions"); }
    </div>
</div>


