@model IEnumerable<License.MetCalWeb.Models.ProductModel>
@{
    ViewBag.Title = "Dashboard";
}
<div>
    <div class="col-md-9">
        <h1 class="login-header-new">Fluke Calibration Store</h1>
    </div>
    <div class="col-md-1">
        <table>
            <tr>
                <td>
                    <div class="navbar-header">
                        <a class="element image-button image-left place-left " style="color: #3D1400" href="@Url.Action("CartDetails", "Dashboard")">
                            <img src="~/Resources/Cart-Menu.png" />
                        </a>
                    </div>
                </td>
                <td>
                    <a class="element image-button image-left place-left " style="color: #3D1400" href="@Url.Action("CartDetails", "Dashboard")">
                       <h2>Cart(1)</h2> 
                    </a>
                </td>
            </tr>
        </table>
    </div>

</div>

@if (Model != null)
{
    <div class="col-md-8">
        @foreach (var item in Model)
        {
        <table class="table-hover" style="border:ridge;align-content:center">

            <tr>
                <td>
                    <p class="float-left">
                        <img src="@item.ImagePath" />
                    </p>

                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <em>Produt Name:</em>
                        @item.ProductName
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <em>Produt Id:</em>
                        @item.ProductID
                    </p>
                </td>
            </tr>
           
            <tr>
                <td class="danger">
                    <p class="button">
                        <b>
                            <input name="Add" class="btn btn-success" type="submit" value="Add To Cart" />
                        </b>
                    </p>
                </td>
            </tr>

        </table>
        }
    </div>
}