@model List<License.MetCalWeb.Models.Team>

@{
    ViewBag.Title = "Teams Listing";
}
<div class="form-group">
    <h2>Team Details</h2>
    <button class="btn btn-default btnCreate">Create Team</button>
</div>
<div class="row">
    <div>
        <div class="container">
            <table class="table" style="table-layout:fixed; padding:10px">
                <tr>
                    <th class="col-md-2"><label> Team Name</label></th>
                    <th class="col-md-2"><label style="margin-left:40px"> Team Size</label></th>
                    <th class="col-md-3"><label style="margin-left:80px"> Action   </label> </th>
                    <th class="col-md-2"><label> Concurrent Users</label></th>
                    <th class="col-md-4"><label style="margin-left:20px">Add/Remove License</label></th>
                </tr>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td class="col-md-1">@obj.Name</td>
                        <td class="col-md-1" style="text-align:center">@(obj.TeamMembers == null ? 0 : obj.TeamMembers.Count)</td>
                        <td class="col-md-3">
                            @if (obj.IsDefaultTeam == false && LicenseSessionState.Instance.IsSuperAdmin)
                            {

                                <a href="javascript:void(0);" class="btn btn-default teamEdit" data-id="@obj.Id">Edit</a>
                                @Html.ActionLink("Delete", "DeleteTeam", "Team", new { id = obj.Id }, new { @class = "btn btn-default" })

                            }
                        </td>
                        <td class="col-md-1">
                            @Html.DropDownList("user_count_dropdown", new SelectList(ViewData["UserCountList"] as IEnumerable<SelectListItem>, "Text", "Value", @obj.ConcurrentUserCount), "", new { @class = "ddlConcurentUser form-control", data_value = @obj.Id })
                        </td>
                        <td class="col-md-3">
                            <button class="btn btn-default">@Html.ActionLink("Add License", "AssignLicense", "Team", new { teamId = @obj.Id }, null)</button>
                            <button class="btn btn-default">@Html.ActionLink("Revoke License", "RevokeLicense", "Team", new { teamId = @obj.Id }, null)</button>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>
<div id='myModal' class='modal'>
</div>

@* Javascript *@
<script>
    $(function () {

        $('.ddlConcurentUser').on('change', function (e) {
            var teamId = $(this).attr('data-value');
            var userCount = $(this).val();
            $.ajax({
                url: '/Team/UpdateConcurentUser',
                method: 'GET',
                data: { 'teamId': teamId, 'noOfUser': userCount },
                success: function (data) {
                    if (data.success) {
                        alert("updated successfuly");
                    }
                    else {
                        console.log($(this));
                        console.log($(e));
                        e.target.value = data.OldUserCount;
                        alert(data.message);
                    }
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            })
        });

        $(".teamEdit").click(function () {
            var id = $(this).attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: "/Team/EditTeam",
                contentType: "application/json; charset=utf-8",
                data: { "id": id },
                datatype: "json",
                success: function (data) {
                    $('#myModal').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });


        $(".btnCreate").click(function () {

            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: "/Team/CreateTeam",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#myModal').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

        $("#closbtn").click(function () {
            $('#myModal').html("");
            $('#myModal').modal('hide');
        });
    });
</script>