@model List<License.MetCalWeb.Models.Team>
@{
    ViewBag.Title = "Teams Listing";
}

<script>
    $(function () {

        $(".teamEdit").click(function () {
            var id = $(this).attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: "/Team/EditTeam",
                contentType: "application/json; charset=utf-8",
                data: { "id": id },
                datatype: "json",
                success: function (data) {
                    $('#myModal').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });


        $(".btnCreate").click(function () {

            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: "/Team/CreateTeam",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#myModal').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

        $("#closbtn").click(function () {
            $('#myModal').html("");
            $('#myModal').modal('hide');
        });
    });
</script>
<h2>Teams Listing</h2>
<div class="row">
    <div class="col-md-8">
        <div class="container">
            <div class="form-group">
                <button class="col-md-4 btn btn-primary btn-lg btn-custom btnCreate">Create Team</button>

                <button class="col-md-4 btn btn-primary btn-lg btn-custom">
                    @Html.ActionLink("Assign License to Team", "AssignLicense", "Team",null, null)
                </button>
            </div>
            <table class="table" style="table-layout:fixed;">
                <tr>
                    <th>Team Name</th>
                    <th>Team Size</th>
                    <th>Action</th>
                </tr>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.Name</td>
                        <td>@(obj.TeamMembers == null ? 0 : obj.TeamMembers.Count)</td>
                        <td>
                            @if (obj.IsDefaultTeam == false && LicenseSessionState.Instance.IsSuperAdmin)
                            {
                                <a href="javascript:void(0);" class="teamEdit" data-id="@obj.Id">Edit</a> <label>|</label>
                                @Html.ActionLink("Delete", "DeleteTeam", "Team", new { id = obj.Id }, null)
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>
<div id='myModal' class='modal'>
</div>
