@model License.MetCalWeb.Models.TeamDetails

<h2>
    Product List
</h2>
<br />
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("RevokeLicense", "Team", new { teamId = Model.Team.Id }, FormMethod.Post, null))
        {
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-8" style="padding-bottom:20px">
                    <span>
                        Team Name :  @Model.Team.Name
                    </span>
                    <input type="text" name="teamId" value=@Model.Team.Id hidden="hidden" readonly="readonly" />
                </div>
            </div>
            if (Model == null || Model.ProductList.Count == 0)
            {
                <div class="form-group">
                    <div class="col-md-8">
                        <span>No Subscriptions exist  </span>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <div class="col-md-8">
                        <table class="table" style="border: none">
                            <tr>
                                <td><strong>Name</strong></td>
                                <td><strong>Product Available </strong></td>
                            </tr>
                            @foreach (var pro in Model.ProductList)
                            {

                                <tr>
                                    <td>
                                        <label class="control-label">
                                            <input type="checkbox" name="selectedSubscription" value="ProId:@pro.Id" checked="" class="checkbox-inline">
                                            @pro.Name
                                        </label>
                                    </td>
                                </tr>
                            }
                        </table>
                        <label style="display:none;color:red;" id="lblError">License not selected</label><br />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        <input type="submit" name="users" value="Submit" class="btn btn-default btn-custom btn-save" />
                    </div>
                </div>
            }
        }
    </div>
</div>

@* Javascript *@
<script>
    $(document).ready(function () {
        $('.btn-save').click(function (e) {
            e.preventDefault();
            var isPostEnabled = true;
            i = 0;
            $('input[type=checkbox]:checked').each(function () {
                i++;
            });
            if (i == 0) {
                $('#lblError').attr('style', 'display:inline;color:red;');
                isPostEnabled = isPostEnabled && false;
            }
            else {
                $('#lblError').attr('style', 'display:none;');
                isPostEnabled = isPostEnabled && true;
            }
            if (isPostEnabled) {
                var form = $('form');
                $.ajax({
                    url: form.attr('action'),
                    method: 'POST',
                    data: form.serialize(),
                    success: function (data) {
                        if (data.success) {
                            location.href = '@Url.Action("Index","Team")';
                        }
                        else {
                            alert(data.message);
                        }
                    },
                    error: function (data) {

                    }
                });
            }
            return false;
        });
    });
</script>