@model IList<License.MetCalWeb.Models.SubscriptionDetails>
@{
    Layout = null;
}
<h4>Subscription</h4>
<table class="table" style="border:ridge">
    @if (Convert.ToBoolean(LicenseSessionState.Instance.IsTeamMember))
    {
        <tr>
            <td>
                Team subscriptions are purchased and managed by team administrators
            </td>
        </tr>
    }
    else
    {
        if (Model != null)
        {
            foreach (var obj in Model)
            {
                <tr>
                    <td>
                        <h3>@obj.Name</h3>

                        @foreach (var pro in obj.Products)
                        {
                            <h5>@pro.Name</h5>
                            <spean>Avialable License: @(pro.TotalLicenseCount - pro.UsedLicenseCount)</spean>
                            <br />
                            <span>@pro.ProductCode</span>
                        }

                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    No subscriptions Exist.Click below link to Explore subscriptions.
                    <b> @Html.ActionLink("Fluke Calibration subscriptions", "SubscriptionCatalog", "Product", routeValues: null, htmlAttributes: new { title = "Manage" })</b>
                </td>
            </tr>
        }
    }
    <tr>
        <td>
            @Html.ActionLink(LicenseSessionState.Instance.User.Email, "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })
        </td>
    </tr>
</table>
