@model License.MetCalWeb.Models.TeamMappingDetails
<script>
    $(document).ready(function () {
        $('.btn-save').click(function () {
            var isPostEnabled = true;
            i = 0;
            minQuantity = 50000;
            $('input[type=checkbox]:checked').each(function (e) {
                var parentObj = $($('.checkCombo:checked')[e]).parent().parent();
                var txtQty1 = $(parentObj).find('.checkCombo').find('.available_product_count').val()
                var txtQty = $(parentObj).find('.available_product_count').find('.txt-qty').text();
                if (minQuantity > parseInt(txtQty)) {
                    minQuantity = parseInt(txtQty);
                }
                i++;
            });
            if (i == 0) {
                $('#lblError').attr('style', 'display:inline;color:red;');
                isPostEnabled = isPostEnabled && false;
            }
            else {
                $('#lblError').attr('style', 'display:none;');
                isPostEnabled = isPostEnabled && true;
            }
            var qty = $('.con_user_count').val();
            if (parseInt(qty) <= 1) {
                $('#lblErrorcon').attr('style', 'display:inline;color:red;');
                isPostEnabled = isPostEnabled && false;
            }
            else if (parseInt(qty) > minQuantity) {
                $('#lblErrorcon').attr('style', 'display:inline;color:red;');
                isPostEnabled = isPostEnabled && false;
            }
            else {
                $('#lblErrorcon').attr('style', 'display:none;');
                isPostEnabled = isPostEnabled && true;
            }
            return isPostEnabled;
        });
    });
</script>
<h2>
    Product List
</h2>
<br />
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("TeamMapLicense", "Team", FormMethod.Post))
        {
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-8" style="padding-bottom:20px">
                    <span>
                        Team Name :  @Model.SelectedTeamName
                    </span>
                </div>

                <div class="col-md-8" style="padding-bottom:20px">
                    <span> Concurrent team user :<input type="text" class="con_user_count" name="concurrentUserCount" value="@Model.ConcurrentUserCount" /></span>
                </div>
            </div>
            if (Model == null || Model.ProductList.Count == 0)
            {
                <div class="form-group">
                    <div class="col-md-8">
                        <span>No Subscriptions exist  </span>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <div class="col-md-8">
                        <table class="table" style="border: none">
                            <tr>
                                <td><strong>Name</strong></td>
                                <td><strong>Product Available </strong></td>
                            </tr>
                            @foreach (var pro in Model.ProductList)
                            {

                                <tr>
                                    <td>
                                        <input type="checkbox" name="selectedSubscription" value="ProId:@pro.Product.Id" checked="@pro.IsSelected" class="checkCombo checkbox-inline" @(pro.AvailableProductCount == 0 ? "disabled='disabled'" : "")>
                                        <label class="control-label">

                                            @pro.Product.Name
                                        </label>
                                    </td>
                                    <td class="available_product_count">
                                        <label class="txt-qty" name="avl_Qty">@pro.AvailableProductCount</label>
                                    </td>
                                </tr>
                            }
                        </table>
                        <label style="display:none;color:red;" id="lblError">License not selected</label><br />
                        <label style="display:none;color:red;" id="lblErrorcon"> Concurrent team user should be greater than <strong>one</strong> and less or equal to  minimum <strong>product available</strong> count </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        <input type="submit" name="users" value="Submit" class="btn btn-default btn-custom btn-save" />
                    </div>
                </div>
            }
        }
    </div>
</div>
