@model IEnumerable<License.MetCalWeb.Models.Feature>

@{
    ViewBag.Title = "Index";
}
<h2>Features</h2>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @if (Model == null || Model.Count() == 0)
                {
                    <div class="col-md-12">
                        <label>Features not exist</label>
                        <button class="btn btn-default addFeature">Create Feature</button>
                    </div>
                }
                else
                {
                    <div class="col-md-10">
                        <table class="table">
                            <tr>
                                <th class="col-md-3">
                                   <label>Name</label> 
                                </th>
                                <th class="col-md-4">
                                    <label>Description</label>  
                                </th>
                                <th class="col-md-1">
                                    <label>Version</label> 
                                </th>
                                <th class="col-md-4">
                                    <label style="margin-left:90px">Action</label>
                                </th>
                            </tr>
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                <tr>
                                    <td class="col-md-3">
                                        @Html.DisplayFor(m => m.ElementAt(i).Name)
                                    </td>
                                    <td class="col-md-4">
                                        @Html.DisplayFor(m => m.ElementAt(i).Description)
                                    </td>
                                    <td class="col-md-1">
                                        @Html.DisplayFor(m => m.ElementAt(i).Version)
                                    </td>
                                    <td class="col-md-4">
                                        @Html.ActionLink("Edit", "Edit", "Feature", new { @data_id  = Model.ElementAt(i).Id, @class = "btn btn-default ancEdit" })  
                                        @Html.ActionLink("Delete", "Delete", "Feature", new { @data_id = Model.ElementAt(i).Id, @class = "btn btn-default ancDelete" })
                                    </td>
                                </tr>

                            }
                        </table>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default addFeature float-right">Create Feature</button>
                    </div>

                }
            </div>
        }
    </div>
</div>
<div id='myModal' class='modal'>
</div>
@* Javascript *@
<script>
    $(function () {
        $('.ancDelete').on('click', function (e) {
            e.preventDefault();
            var status = confirm("Are you sure you want to delete the Product?");
            if (status) {
                var id = $(this).attr("data-id");
                $.ajax({
                    url: $(this).attr('href'),
                    method: 'POST',
                    data: { 'Id':id},
                    success: function (data) {
                        if (data.success == true) {
                            alert("Feature deleted");
                        }
                        else {
                            alert(data.message);
                        }
                    },
                    error: function (data) {
                        console.log(data);
                    }

                });
            }
        });

        $('.ancEdit').on('click', function (e) {
            e.preventDefault();
            var id = $(this).attr("data-id");
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                url: $(this).attr('href'),
                method: 'GET',
                data: { 'Id': id },
                success: function (data) {
                    $('#myModal').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function (data) {
                    console.log(data);
                }

            });
        });

        $('.addFeature').on('click', function (e) {
            e.preventDefault();
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                url: "/Feature/Create",
                method: 'GET',
                success: function (data) {
                    $('#myModal').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function (data) {
                    console.log(data);
                }

            });
        });
    });
</script>
